<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>gaoyang的个人主页</title>

    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/icon.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/index-nav.css" rel="stylesheet">
    <link href="__PUBLIC__/css/user.css" rel="stylesheet">
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="__PUBLIC__/js/article.js"></script>
    <!-- include summernote css/js-->
    <link href="__PUBLIC__/css/summernote.css" rel="stylesheet">
    <script src="__PUBLIC__/js/summernote.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("$summernote").summernote();
        });

    </script>

</head>
<body>

<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- 导航 -->
        <nav class="nav navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="cotainer">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navtabs">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">E-Learning</a>
                </div>


                <div id="navtabs" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-current" role="presentation"><a href="{:U('Index/index')}">Home</a></li>
                        <li><a href="#">My Courses</a></li>
                        <li><a href="#">Topics</a></li>
                        <li><a href="#">Files</a></li>
                        <li><a href="#">ContactUs</a></li>
                    </ul>

                    <ul id="settings" class="nav navbar-nav navbar-right">
                        <li class="right">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search">
                                </div>

                                <button type="submit" class="btn btn-default btn-nav">搜索</button>
                            </form>
                        </li>
                        <li><a href="#">设置</a></li>
                        <li><a href="{:U('Login/index')}">登陆</a></li>
                        <li><a href="#">注册</a></li>
                        <li><img class="small" src="__PUBLIC__/img/icon.png" style="width:40px;height:40px"></li>

                    </ul>
                </div>
            </div>

        </nav>
        <!--导航end-->
    </div>
</div>

<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- 用户数据内容 -->
                    <div class="aw-mod aw-user-detail-box">
                        <div class="mod-head">
                            <img alt="gaoyang" src="http://wenda.ghostchina.com/uploads/avatar/000/00/01/66_avatar_max.jpg">
                            <span class="pull-right operate">
                                                                <a class="text-color-999" data-toggle="modal" data-target="#new-message"><i class="icon icon-inbox"></i> 私信</a><a class="text-color-999 hidden-xs" onclick="AWS.dialog('publish', {category_enable:1, ask_user_id:166, ask_user_name:'gaoyang'});"><i class="icon icon-at"></i> 问Ta</a><a title="" class="follow btn btn-normal btn-success" onclick="AWS.User.follow($(this), 'user', 166);" href="javascript:;" data-original-title=""><span>关注</span> <em>|</em> <b>0</b></a>
                                                            </span>
                            <h1>gaoyang </h1>
                            <p class="text-color-999">www.gaoyang.com</p>
                        </div>
                        <div class="mod-body">
                            <div class="meta">
                                <span><i class="icon icon-agree"></i> 赞同 : <em class="aw-text-color-orange">5</em></span>
                            </div>
                            <!-- 擅长专题 -->
                            <div class="good-at-topics clearfix">
                                <h2>擅长专题</h2>
                                <ul>
                                    <li>
                                        <span class="topic-tag">
                                            <a class="text" href="http://wenda.ghostchina.com/topic/%E5%A4%B4%E5%83%8F" data-id="21">软件学院</a>
                                        </span>
                                        <span>
                                            <i class="icon icon-agree"></i> 1&nbsp;&nbsp;
                                            <i class="icon icon-thank"></i> 0                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end 擅长专题 -->

                        </div>
                        <div class="mod-footer">
                            <ul class="nav nav-tabs aw-nav-tabs">
                                <li class="active"><a id="page_questions" href="#questions" data-toggle="tab">发贴<span class="badge">7</span></a></li>
                                <li><a id="page_actions" href="#actions" data-toggle="tab">最近上传</a></li>
                                <li><a id="page_detail" href="#detail" data-toggle="tab">详细资料</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end 用户数据内容 -->

                    <div class="aw-user-center-tab">
                        <div class="tab-content">
                            <div class="tab-pane active" id="questions">
                                <div class="aw-mod">
                                    <div class="mod-head">
                                        <h3>发贴</h3>
                                    </div>
                                    <div class="mod-body">
                                        <div class="aw-profile-publish-list" id="contents_user_actions_questions">
                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="#205">C++该怎么学</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>3</span>
                                                        <p class="text-color-999">243 次浏览 • 4 个关注</p>
                                                        <p class="text-color-999">2015-07-05 16:22</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="#151">如何查看网页字体？</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>2</span>
                                                        <p class="text-color-999">328 次浏览 • 2 个关注</p>
                                                        <p class="text-color-999">2015-05-01 01:06</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="#117">升级win10</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>1</span>
                                                        <p class="text-color-999">329 次浏览 • 1 个关注</p>
                                                        <p class="text-color-999">2015-03-11 19:19</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="http://wenda.ghostchina.com/question/111">如何吸引风投？</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>3</span>
                                                        <p class="text-color-999">334 次浏览 • 3 个关注</p>
                                                        <p class="text-color-999">2015-03-02 18:20</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="http://wenda.ghostchina.com/question/108">何种望远镜能看清月球上的坑？</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>6</span>
                                                        <p class="text-color-999">581 次浏览 • 4 个关注</p>
                                                        <p class="text-color-999">2015-02-14 22:15</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="http://wenda.ghostchina.com/question/95">为什么下载被chrome提示有风险？？</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>1</span>
                                                        <p class="text-color-999">216 次浏览 • 2 个关注</p>
                                                        <p class="text-color-999">2015-01-22 19:57</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="aw-item">
                                                <div class="aw-mod">
                                                    <div class="mod-head">
                                                        <h4 class="aw-hide-txt">
                                                            <a href="http://wenda.ghostchina.com/question/92">E-Learning首页查看</a>
                                                        </h4>
                                                    </div>
                                                    <div class="mod-body">
                                                        <span class="aw-border-radius-5 count pull-left"><i class="icon icon-reply"></i>0</span>
                                                        <p class="text-color-999">276 次浏览 • 2 个关注</p>
                                                        <p class="text-color-999">2015-01-19 13:35</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mod-footer">
                                        <!-- 加载更多内容 -->
                                        <a class="aw-load-more-content" id="bp_user_actions_questions_more" data-page="1">
                                            <span>更多</span>
                                        </a>
                                        <!-- end 加载更多内容 -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="actions">
                                <div class="aw-mod">
                                    <div class="mod-head">
                                        <h3>上传资料</h3>
                                    </div>
                                    <div class="mod-body">
                                        <div id="contents_user_actions">
                                            <div class="aw-item">
                                                <p>
                                                    <span class="pull-right text-color-999">2015-07-05</span>
                                                    <em class="pull-left"><a class="aw-user-name" href="http://wenda.ghostchina.com/people/166" data-id="166">gaoyang</a> 上传了资料:</em>

                                                    <a class="aw-hide-txt" href="http://wenda.ghostchina.com/question/205">ThinkPHP免费视频教程</a>

                                                </p>
                                            </div>

                                            <div class="aw-item">
                                                <p>
                                                    <span class="pull-right text-color-999">2015-07-05</span>
                                                    <em class="pull-left"><a class="aw-user-name" href="http://wenda.ghostchina.com/people/166" data-id="166">gaoyang</a> 上传了资料:</em>

                                                    <a class="aw-hide-txt" href="http://wenda.ghostchina.com/question/205">ThinkPHP免费视频教程</a>

                                                </p>
                                            </div>
                                            <div class="aw-item">
                                                <p>
                                                    <span class="pull-right text-color-999">2015-07-05</span>
                                                    <em class="pull-left"><a class="aw-user-name" href="http://wenda.ghostchina.com/people/166" data-id="166">gaoyang</a> 上传了资料:</em>

                                                    <a class="aw-hide-txt" href="http://wenda.ghostchina.com/question/205">ThinkPHP免费视频教程</a>

                                                </p>
                                            </div>
                                            <div class="aw-item">
                                                <p>
                                                    <span class="pull-right text-color-999">2015-07-05</span>
                                                    <em class="pull-left"><a class="aw-user-name" href="http://wenda.ghostchina.com/people/166" data-id="166">gaoyang</a> 上传了资料:</em>

                                                    <a class="aw-hide-txt" href="http://wenda.ghostchina.com/question/205">ThinkPHP免费视频教程</a>

                                                </p>
                                            </div>
                                            <div class="aw-item">
                                                <p>
                                                    <span class="pull-right text-color-999">2015-07-05</span>
                                                    <em class="pull-left"><a class="aw-user-name" href="http://wenda.ghostchina.com/people/166" data-id="166">gaoyang</a> 上传了资料:</em>

                                                    <a class="aw-hide-txt" href="http://wenda.ghostchina.com/question/205">ThinkPHP免费视频教程</a>

                                                </p>
                                            </div>                                            <div class="aw-item">
                                            <p>
                                                <span class="pull-right text-color-999">2015-07-05</span>
                                                <em class="pull-left"><a class="aw-user-name" href="http://wenda.ghostchina.com/people/166" data-id="166">gaoyang</a> 上传了资料:</em>

                                                <a class="aw-hide-txt" href="http://wenda.ghostchina.com/question/205">ThinkPHP免费视频教程</a>

                                            </p>
                                        </div>

                                        </div>
                                    </div>
                                    <div class="mod-footer">
                                        <!-- 加载更多内容 -->
                                        <a class="aw-load-more-content" id="bp_user_actions_more" data-page="1">
                                            <span>更多</span>
                                        </a>
                                        <!-- end 加载更多内容 -->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="detail">
                                <div class="aw-mod">
                                    <div class="mod-head">
                                        <h3>详细资料</h3>
                                    </div>
                                    <div class="mod-body aw-user-center-details">
                                        <dl>
                                            <dt><span>绑定认证:</span></dt>
                                            <dd><a class="text-color-999" href="http://www.weibo.com/5384740764"><i class="icon icon-weibo"></i>新浪微博</a></dd>                                                                                    </dl>
                                        <dl>
                                            <dt><span>个人成就:</span></dt>
                                            <dd>
                                                <p class="meta">
                                                    <span><i class="icon icon-prestige"></i>威望: <em class="aw-text-color-green">7</em></span>
                                                    <span><i class="icon icon-agree"></i>赞同: <em class="aw-text-color-orange">5</em></span>
                                                    <span><i class="icon icon-thank"></i>感谢: <em class="aw-text-color-orange">1</em></span>
                                                </p>
                                            </dd>
                                        </dl>



                                        <dl>
                                            <dt><span>最后活跃:</span></dt>
                                            <dd>2015-08-05 14:40</dd>
                                        </dl>

                                        <dl>
                                            <dt><span>擅长话题:</span></dt>
                                            <dd class="aw-user-center-details-good-topic">
                                                <div>
                                                <span class="topic-tag">
                                                    <a class="text" href="http://wenda.ghostchina.com/topic/%E5%A4%B4%E5%83%8F" data-id="21">头像</a>
                                                </span>
                                                <span>
                                                    <i class="icon icon-agree"></i> 1&nbsp;&nbsp;
                                                    <i class="icon icon-thank"></i> 0                                                </span>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar">
                    <div class="aw-mod people-following">
                        <div class="mod-body">
                            <a class="pull-right font-size-12" onclick="$('#page_focus').click();$('#focus .aw-tabs ul li').eq(0).click();$.scrollTo($('#focus').offset()['top'], 600, {queue:true})">更多 »</a>
                            <span>
                                关注 <em class="aw-text-color-blue">1</em> 人                            </span>
                            <p>
                                <a class="aw-user-name" href="http://wenda.ghostchina.com/people/wangsai" data-id="2"><img alt="gaoyang" src="http://wenda.ghostchina.com/uploads/avatar/000/00/00/02_avatar_mid.jpg"></a>
                            </p>
                        </div>
                    </div>
                    <div class="aw-mod people-following">
                        <div class="mod-body">
                            <a class="pull-right font-size-12" onclick="$('#page_focus').click();$('#focus .aw-tabs ul li').eq(1).click();$.scrollTo($('#focus').offset()['top'], 600, {queue:true})">更多 »</a>
                            <span>
                                被 <em class="aw-text-color-blue">0</em> 人关注                            </span>

                        </div>

                    </div>
                    <div class="aw-mod people-following">
                        <div class="mod-body">
                            关注 <em class="aw-text-color-blue">5</em> 话题                                                        <div class="aw-topic-bar">
                            <div class="tag-bar clearfix">
                                                                            <span class="topic-tag">
                                            <a class="text" href="http://wenda.ghostchina.com/topic/%E6%A0%87%E7%AD%BE%E4%BA%91" data-id="52">软件学院</a>
                                        </span>
                                                                            <span class="topic-tag">
                                            <a class="text" href="http://wenda.ghostchina.com/topic/%E9%93%BE%E6%8E%A5" data-id="31">商学院</a>
                                        </span>
                                                                            <span class="topic-tag">
                                            <a class="text" href="http://wenda.ghostchina.com/topic/url" data-id="32">文学院</a>
                                        </span>
                                                                            <span class="topic-tag">
                                            <a class="text" href="http://wenda.ghostchina.com/topic/%E9%82%AE%E7%AE%B1" data-id="42">新闻传播学院</a>
                                        </span>
                                                                            <span class="topic-tag">
                                            <a class="text" href="http://wenda.ghostchina.com/topic/%E5%8D%87%E7%B4%9A" data-id="43">哲学系</a>
                                        </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="aw-mod">
                        <div class="mod-body">
                            <span class="aw-text-color-666">
                                主页访问量 : 495 次访问                            </span>
                        </div>
                    </div>
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var PEOPLE_USER_ID = '166';

    var ACTIVITY_ACTIONS = '101,201,105,204,401,406,501,502,503';
</script>

<script src="http://wenda.ghostchina.com/static/js/app/people.js" type="text/javascript"></script>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2015<span class="hidden-xs"> - 京ICP备11008151号, All Rights Reserved</span>

        <span class="hide">Powered By <a href="http://www.wecenter.com/?copyright" target="blank">WeCenter 3.0 Beta 2</a></span>

    </div>
</div>



<a class="aw-back-top hidden-xs" style="display: none;" onclick="$.scrollTo(1, 600, {queue:true});" href="javascript:;"><i class="icon icon-up"></i></a>


<!-- DO NOT REMOVE -->
<div class="aw-ajax-box" id="aw-ajax-box"><div class="aw-card-tips aw-card-tips-topic" id="aw-card-tips" style="left: 260px; top: 381.92px; display: none;"><div class="aw-mod"><div class="mod-head"><a class="img" href="http://wenda.ghostchina.com/topic/%E5%A4%B4%E5%83%8F"><img title="" alt="" src="http://wenda.ghostchina.com/static/common/topic-mid-img.png"></a><p class="title"><a class="name" href="http://wenda.ghostchina.com/topic/%E5%A4%B4%E5%83%8F" data-id="21">头像</a></p><p class="desc"></p></div><div class="mod-footer"><span>讨论数: 1</span><a class="btn btn-normal btn-success follow  pull-right" onclick="AWS.User.follow($(this), 'topic', 21);"><span>关注</span> <em>|</em> <b>1</b></a></div></div></div></div>
<div id="__crond" style="display:none;"><img width="1" height="1" src="http://wenda.ghostchina.com/crond/run/1439467268"></div>

<!-- Escape time: 0.10908007621765 --><!-- / DO NOT REMOVE -->

<!--Do Not Remove-->
<div class="aw-ajax-box" id="aw-ajax-box">
    <div class="modal fade alert-box aw-inbox" id="new-message" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close icon icon-delete" aria-hidden="true" type="button" data-dismiss="modal"></a>
                    <h3 class="modal-title" id="myModalLabel">新私信</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hide error_message">
                        <i class="icon icon-delete"></i>
                        <em></em>
                    </div>
                    <form id="quick_publish" onsubmit="return false" action="http://wenda.ghostchina.com/inbox/ajax/send/" method="post">
                        <input name="post_hash" type="hidden" value="2F2157E31DEBD9E1">
                        <input name="recipient" class="form-control" id="invite-input" type="text" placeholder="搜索用户" value="gaoyang">
                        <div class="aw-dropdown">
                            <p class="title">没有找到相关结果</p>
                            <ul class="aw-dropdown-list"></ul>
                        </div>
                        <textarea name="message" class="form-control" placeholder="私信内容..." rows="3"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="text-color-999" aria-hidden="true" data-dismiss="modal">取消</a>
                    <button class="btn btn-large btn-success" onclick="AWS.ajax_post($('#quick_publish'), AWS.ajax_processer, 'error_message');">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Do Not Remove-End-->
</body>
</html>