<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
     E-Learning
    </title>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>

    <link type="text/css" href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>



</body>

</html>